{
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true
}
